.dashboard-table{
    padding: 1rem 2rem;
}
table{
    border: 3px solid rgba(88, 87, 87, 0.822);
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
}
th {
    border: 3px solid rgba(88, 87, 87, 0.822);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-collapse: collapse;
}

td{
    border: 3px solid rgba(88, 87, 87, 0.822);
    border-collapse: collapse;
    padding: 0.5rem 1rem;
    
}
.product-title{
    font-weight: bold;
}
.product-image{
    width: 5rem;
}